@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;800&display=swap');
body{
    font-family: 'Dosis';
    background: #34e89e;  
background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  
background: linear-gradient(to right, #0f3443, #34e89e);
}
/* Section - Contenedores principales */
.container{
    padding: 01%;
    padding-top: 25px;
    padding-bottom: -20px;
}
.v1{
    margin-top: 15px;
    margin-bottom: 25px;
}
/* Cartas principales */ 
.card{
    background-color: white;
    border-radius: 19px;
    padding: 20px;
    -webkit-box-shadow: 5px 6px 6px 0px #000000; 
box-shadow: 5px 6px 12px -3px #000000;
    width: 280px;
    height: 600px;
    opacity: 0.82;
}
.card-2{
    background-color: white;
    border-radius: 19px;
    padding: 20px;
    margin-left: 8px;
    -webkit-box-shadow: 5px 6px 6px 0px #000000; 
box-shadow: 5px 6px 12px -3px #000000;
    width: 550px;
    height: 415px;
    opacity: 0.82;
}
.card-3{
    background-color: white;
  border-radius: 19px;
  padding: 20px;
  margin-left: 8px;
  -webkit-box-shadow: 5px 6px 6px 0px #000000; 
box-shadow: 5px 6px 12px -3px #000000;
   width: 550px;
   opacity: 0.82;
   height: 180px;
   margin-top: 5px;
}

/* Carta número 1 / Perfil */
/* Section  - Foto de perfil */
  /* Nombre principal*/ 
.name {
    padding-top: 18px;
    color: #2D354A;
    font-size: 23px;
    text-align: center;
    align-items: center;

}
/* Imagen de perfil  */
.avatar-holder{
    display: block;
    height: 100px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
 }
/* Icono de la planta */
 .icon-plant{
     text-align: center;
 }
/* Animación del texto (Growing developer)*/
.typewriter {
    font-family: Courier, monospace;
    display: inline-block;
    text-align: center;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 3s steps(20, end), blink .35s step-end infinite;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 700;
    border-right: 3px solid orange;
    box-sizing: border-box;
    margin-top: -08px;
    margin-bottom: 1.5px;
}


/* Iconos de la biografía */
.icons-bio{
    margin-top:3px;
    padding-left: 3.5px;
    margin-left: 2px;
    margin-bottom: 8px;
    line-height: 150px;
        text-align: center;
}
/* Linea azul a la izquierda  */
.v1{
    border-left: 2.8px solid #0ab581;
    height: 25px;
    margin-left: 1%;
    text-align: left;
  
  }

.v2{
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #0ab581;
    text-align: left;
}
.biografia{
    display: flexbox;
    align-items: center;
    justify-content: center;
    
}

.text-title {
    font-size: 14px;
}
.other-card-title{
    margin-left: 18px;
    margin-top: -19px;
    margin-bottom: -05px;
    font-size: 19px;
}
.solid{
    background-color: turquoise;
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
}
/* Redes sociales */ 

.profile-social{
    align-content: center;
    width: 80%;
    height: 05%;
    margin-top: 20px;
    margin-left: 40px;
}

.fa {
    font-size: 22px;
    padding: 10px;
    text-decoration: none;
    color: #0ab581;
    opacity: 0.82;
    border-radius: 19px;
    align-content: center;
  }
  
.fa:hover {
    color: lightgreen;
  }



/* Skills Section*/

.desarrollo-section{
    display: inline ;
    padding: 18px;

}

.desarrollo-progress-section{
    
    display: inline-flex;
}
.skills-logo{
    margin-left: 29px;
    margin-right: 29.5px;
}
.progress{
    width: 70px;
    margin-top: 8px;
    margin-left: 35px;
    margin-right: 10px;
}
.desarrollo-title{
    margin-left: 11px;
    margin-bottom: 15px;
    margin-top: -11px;
}
.google-cloud-title{
    margin-left: 11px;
    margin-bottom: 0px;
    margin-top: 07px;
}
.linux-title{
    margin-top: -08px;
    margin-left: 11px;
    margin-bottom: -10px;
}
.google-cloud-badges{
    margin-top: 5px;
    text-align: center;
    margin-bottom: 15px;
}

/* Hobbies Section */
.hobbies-section{
    margin-top: 35px;
    margin-left: 30px;
}
.subtitles-hobbies{
    margin-top: 3px;
    margin-left:60px;
    word-spacing: 51px;
}

/* Lenguajes */
.progress-bar-section{
    display: inline;
}

 /* Botón de contacto */

.boton{
    padding: 12px 25px;
    background: #34e89e;
    border: none;
    color: white;
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin: 8px 0px;
  }
.boton:hover{
    background: transparent;
    color:#34e89e;
    border: 2px solid;
}   


  /*Animations */
  @keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}